venv/
__pycache__/
*.pyc
*.env

*.backup

*.tar
*.tar.gz
*.zip

.lake

# Mizar directory and build artifacts
mizar/
*.aco
*.ano
*.atr
*.cho
*.dct
*.dcx
*.dfs
*.ecl
*.eid
*.eno
*.epr
*.erd
*.ere
*.err
*.esh
*.eth
*.evl
*.fil
*.frm
*.frx
*.idx
*.irv
*.log
*.msx
*.nol
*.par
*.prf
*.ref
*.sgl
*.vcl
*.wsx
*.xml
*.out
