venv/
__pycache__/
*.pyc
.env

.backup

.tar
.zip

# Mizar build artifacts
*.aco
*.ano
*.atr
*.cho
*.dct
*.dcx
*.dfs
*.ecl
*.eid
*.eno
*.epr
*.erd
*.ere
*.err
*.esh
*.eth
*.evl
*.fil
*.frm
*.frx
*.idx
*.log
*.msx
*.nol
*.par
*.prf
*.ref
*.sgl
*.vcl
*.wsx
*.xml
